.example-card {
  width: 37.25rem;
  min-height: 18.75rem;
  background:rgba(0, 0, 0, 0.555);
  color:White;
}

.mat-card-header-text{
  width: 100%;
}

.mat-card-title {
  color:white;
  font-weight: bolder;
  font-size:x-large !important;
}

ul {
  margin-top: 20px;
}

li {
  list-style:none;

}

.empsideheading{
font-weight: bold;
display: inline-block;
width:40%;
font-size:small !important;
}

@media(min-width:40rem)
{

  .example-card {
    width: 67.25rem;
    min-height: 18.75rem;
    background:rgba(0, 0, 0, 0.555);
    color:White;
  }
  
  .empsideheading{
    font-weight: bold;
    display: inline-block;
    width:40%;
    font-size:small !important;
    }
}
.cont{
  display:inline-block;
  width: fit-content;
}

